*{
    margin:0px;
    padding: 0px;
}

.fondo{
    background-image: url(./imagenes//rickymorty.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.buscador{
    width: 100%;
    background-color: none;
    height: 10vh;
    display: flex;

}

.main{
    display: flex;
    height: 90vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.filtros{
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paginador{
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.form-buscar{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.boton-buscar{
    height: 3rem;
    width: 3rem;
    display: block;
    background-size: 3rem;
    background-image: url('./imagenes//buscar.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: transparent;
    border: none;
    text-indent: -999px;
    outline: none;
}

.boton-buscar:hover{
    cursor: pointer;
}


.input-buscar{
    border: 1px solid grey;
    padding: 1rem;
    min-width: 350px;
    margin-top: 0.5rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
}

.radio-filter{
    width: 100%;
    margin-top: 1rem;
    text-align: initial;
    margin-left: 5%;
}

.titulo{
    margin-top: 1rem;
}


.filter{
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.8);
}

.paginator-area{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    height: 80vh;
}

.card{
    cursor: pointer;
    min-width: 158.3px;
    height: 270px;
    width: 22%;
    background-color: white;
    border: 2px solid grey;
    margin-right: 3px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-top: 3px;
}


.imagen-paginator{
    width: 100%;
    object-fit: contain;
    margin-bottom: 1vh;
}

.botones-area{
    width: 100%;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.botones-area button{
    margin-right: 2vh;
    width: 100px;
    border-radius: 10px;
    height: 5vh;
    cursor: pointer;
}

.botones-area p{
    margin-right: 2vh;
    color: teal;
    font-weight: 700;
}

.modal{
    width: 50%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.modal-button{
    cursor: pointer;
    border-radius: 10px;
    width: 75px;
    height: 5vh;
    
}

.button-area{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
}

.modal .card{
    width: 110%;
    height: 80vh;
    margin-top: 2vh;
    margin-left: 2vh;
}

.data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


h3{
    margin-top: 3vh;
    text-align: center;
}

.lista {
    margin-top: 3vh;
    margin-right: auto;
}

li{
    list-style: none;
}

.filter-button{
    margin-top: 3vh;
    width: 100;

}

.filter-button button{
    width: 100px;
    height: 5vh;
}
